header{
    background-color: #282c34;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.buttonContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/* 
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  } */

  span {
    font-size: 20px;
    color: #333;
    margin-bottom: 20px;
  }

  b {
    font-weight: bold;
  }

  form {
    gap: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  form .fecha {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  label {
    margin-bottom: 10px;
    font-size: 16px;
  }

  input[type="date"] {
    padding: 8px 12px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  input[type="submit"] {
    background-color: #4caf50;
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  input[type="submit"]:hover {
    background-color: #45a049;
  }

  table {
    margin-top: 30px;
    border-collapse: collapse;
    width: 100%;
    max-width: 800px;
    background-color: white;
  }

  th,
  td {
    border: 1px solid #ddd;
    padding: 8px;
  }

  th {
    background-color: #f2f2f2;
    font-weight: bold;
  }

  .back-button {
    text-decoration: none;
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #4caf50;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .back-button:hover {
    background-color: #45a049;
  }

  tbody th {
    background-color: #fff;
  }